.GeeksForGeeks {
  
  background-image: 
  url(
"https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&https://images.pexels.com/photos/904177/pexels-photo-904177.jpeg?auto=compress&cs=tinysrgb&w=600=600");
  background-size: "cover";
  height: 730px;
  margin-top: -0px;
 
  background-repeat:no-repeat; 
}

.n1 {
  position: absolute;
  left: 555px;
  top: 30px;
  box-shadow: 1px 1px 6px #000000;
  padding: 15px;
  padding-top: 110px;
  border-radius: 7px;
  width: 400px;
  height: 620px;
  
}
.btn-primary {
  position: absolute;
  left: 10px;
  bottom: 6px;
  top: 562px;
  background-color: rgb(2, 39, 29);
  padding: 5px;
 border-radius: 7px;
  width: 383px;
  color: aliceblue;
}
.btn{

  border-radius: 2px;
 
}
.n3{
   padding-top: 3px;
}

.title {
  position: absolute;
  left: 40px;
  top: 15px;

  padding: 5px;
  border-radius: 7px;
  width: 400px;
}


