.mb-3 {
  padding-left: 500px;
  padding-right: 500px;
}
.btn {
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 50px;
}

.btn-primary {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5pc;
}
.mb-4 {
  padding-top: 90px;

  
 
  

}

